.page-header {
  padding: 26px 0;
}
.page-header img {
  display: block;
  margin: 0 auto;
  height: 18px;
  width: auto;
}

.good-detail {
  padding-bottom: 40px;
}
.good-detail .good-images {
  margin-bottom: 32px;
}
.good-detail .good-images .item {
  border-radius: 12px;
  overflow: hidden;
}
.good-detail .good-images .item img {
  display: block;
  width: 100%;
}
.good-detail .good-name {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
.good-detail .good-cost {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--font2);
  margin-right: 10px;
}
.good-detail .my-own-point ._label {
  font-size: 12px;
  font-weight: 500;
  margin-right: 20px;
}
@media (min-width: 992px) {
  .good-detail .my-own-point ._label {
    font-size: 15px;
  }
}
.good-detail .my-own-point .num {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font2);
}
@media (min-width: 992px) {
  .good-detail .my-own-point .num {
    font-size: 24px;
  }
}
.good-detail .good-detail-content {
  font-size: 14px;
  font-weight: 500;
  margin: 30px 0 50px;
}

.realred-goods {
  padding-bottom: 40px;
}
.realred-goods .section_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}