.profile-user-info {
  margin: 0 auto;
  max-width: 800px;
  padding: 35px 0 24px;
}
.profile-user-info .div_1 {
  padding: 0 0 25px;
  margin: 0 auto;
  max-width: 500px;
}
.profile-user-info .avatar img {
  width: 127px;
  display: block;
}
.profile-user-info .user-name {
  font-family: var(--font2);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.profile-user-info .social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
}
.profile-user-info .social-icons li {
  margin: 5px 7px;
}
.profile-user-info .social-icons li img {
  width: 36px;
}
.profile-user-info .div_2 {
  padding-bottom: 30px;
}
.profile-user-info .profile-edit-button {
  border: 1px solid #151515;
  padding: 6px 13px;
  border-radius: 100px;
  min-width: 140px;
  font-size: 10px;
  font-weight: 700;
}
.profile-user-info .profile-edit-button .icon {
  margin-right: 15px;
}
.profile-user-info .profile-edit-button .icon img {
  display: block;
}
.profile-user-info .user-point {
  padding-bottom: 18px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.profile-user-info .user-point .point {
  font-size: 26px;
  font-weight: 700;
  font-family: var(--font2);
}
.profile-user-info .div_3 {
  padding-bottom: 42px;
}
.profile-user-info .point-exchange-button {
  border: 1px solid #151515;
  padding: 6px 13px;
  border-radius: 100px;
  min-width: 140px;
  font-size: 10px;
  font-weight: 700;
}
.profile-user-info .self-introduction {
  border-top: 1px solid #E8E8E8;
  padding-top: 14px;
}
.profile-user-info .self-introduction_title {
  font-size: 12px;
  font-weight: 700;
  color: #B4B4B4;
  margin-bottom: 13px;
}
.profile-user-info .self-introduction_content {
  font-size: 14px;
  font-weight: 500;
}

.profile-posts {
  border-top: 7px solid #E8E8E8;
}
.profile-posts .profile-posts-title {
  padding: 12px 0;
  font-weight: 700;
  font-size: 12px;
}
.profile-posts .profile-posts-title .icon {
  margin-right: 6px;
}
.profile-posts .profile-posts-title .icon img {
  height: 21px;
  width: auto;
}
@media (min-width: 992px) {
  .profile-posts .profile-posts-title {
    font-size: 16px;
  }
  .profile-posts .profile-posts-title .icon img {
    height: 26px;
  }
}
.profile-posts .tabs {
  padding: 12px 20px 0;
  white-space: nowrap;
  overflow-x: scroll;
}
.profile-posts .tabs::-webkit-scrollbar {
  display: none;
}
.profile-posts .tab {
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  white-space: normal;
  color: #B4B4B4;
}
.profile-posts .tab:not(:last-child) {
  margin-right: 9px;
}
.profile-posts .tab .icon {
  margin-right: 6px;
}
.profile-posts .tab .icon img {
  height: 21px;
  width: auto;
  opacity: 0.4;
}
.profile-posts .tab.active {
  border-color: var(--color6);
  color: #151515;
}
.profile-posts .tab.active img {
  opacity: 1;
}
@media (min-width: 992px) {
  .profile-posts .tab {
    font-size: 16px;
  }
  .profile-posts .tab .icon {
    margin-right: 10px;
  }
  .profile-posts .tab .icon img {
    height: 26px;
  }
}
.profile-posts .tab-panel {
  display: none;
}
.profile-posts .tab-panel.active {
  display: block;
}

.section-profile-edit {
  padding: 35px 0 20px;
  background-color: white;
}
.section-profile-edit .container {
  max-width: 600px;
}
.section-profile-edit .avatar {
  margin-bottom: 14px;
}
.section-profile-edit .avatar img {
  width: 87px;
}
.section-profile-edit .text-avatar-change {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: var(--color6);
  cursor: pointer;
}
.section-profile-edit .user-resign-text {
  text-align: center;
  margin-top: 18px;
  font-size: 12px;
  font-weight: 500;
  color: #B4B4B4;
}
.section-profile-edit .user-resign-text a {
  font-weight: 700;
  color: var(--color6);
}