html[lang="ja"] body {
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

@media(min-width: 1140px) {
    .file-grid-item {
        width: 220px;
    }
}
.note-editable {
    font-size: 16px;
}

.data-table th,
.data-table td {    
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}
/* .data-table [data-column-name="id"] {
    width: 100px;
}
.data-table [data-column-name="name"] {
    width: 300px;
}
.data-table [data-column-name="action"] {
    width: 400px;
} */

.text-editor-wrap p,
.text-editor-wrap table {
    margin-bottom: 1.2em;
}
.crud-form-group {
    margin-bottom: 1.25rem;
}
.crud-form-group[data-mode="view"] {
    margin-bottom: 0;
    padding: 12px 0;
}
.crud-form-group[data-mode="view"]:nth-child(odd) {
    background-color: #f9f9f9;
}
.nav-bar-avatar-image {
    object-fit: cover;
}
.custom-control-label {
    padding-left: 1.6rem;
}
.form-control-inline {
    width: auto;
}