img {
    max-width: 100%;
    height: auto;
}

.custom-checkbox,
.custom-radio {
    margin-bottom: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox input,
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox .checkmark,
.custom-radio .checkmark {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #ddd solid 2px;
    box-shadow: 0 0 0 0 transparent;
    border-radius: 0.1875rem;
    position: relative;
    margin-right: .6rem;
}

.custom-checkbox .checkmark:after {
    position: absolute;
    left: -2px;
    top: -2px;
    display: none;
    width: 1.2rem;
    height: 1.2rem;
    content: "";
    background: 50%/50% 50% no-repeat;    
    background-color: #2196f3;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='%23fff' d='M13.5 2l-7.5 7.5-3.5-3.5-2.5 2.5 6 6 10-10z'/%3e%3c/svg%3e");
    border-radius: 0.1875rem;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-radio .checkmark {
    border-radius: 50%;
}

.custom-radio .checkmark:after {    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: .6rem;
    height: .6rem;
    content: "";
    background-color: #2196f3;
    border-radius: 50%;    
}
.custom-radio input:checked ~ .checkmark:after {
    display: block;
}


@media(min-width: 1140px) {
    .file-grid-item {
        width: 220px;
    }
}
.note-editable {
    font-size: 16px;
}

.data-table th,
.data-table td {    
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}
/* .data-table [data-column-name="id"] {
    width: 100px;
}
.data-table [data-column-name="name"] {
    width: 300px;
}
.data-table [data-column-name="action"] {
    width: 400px;
} */