.file-manager {    
}
.file-manager .file-manager-wrap {    
    background-color: #ddd;
    border: 1px solid #bbb;
}
.file-manager-header {    
    background-color: #ddd;
    border-bottom: 1px solid #bbb;    
    padding: 5px;
}
.file-manager-header .action-buttons {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.file-manager-header .action-buttons > * {
    margin-bottom: 5px;
    margin-right: 5px;
}
.file-manager .breadcrumb-line {
    border-radius: .1875rem;
}
.file-manager .breadcrumb-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
.file-manager .breadcrumb-item:not(.active) {
    cursor: pointer;
}

.file-manager-body {
    background-color: #ddd;
    padding: 5px;
}

.file-manager .folder-tree {   
    width: 220px;    
    padding: 5px;
    border-right: 1px solid #bbb;  
    background-color: rgba(255,255, 255, 0.7);
    margin-right: 10px;
}
.file-manager .folder-list {
    padding: 0;  
    margin: 0;
    list-style: none;
    
}

.file-manager .folder-list li {
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
}
.file-manager .folder-list li.selected {
    color: white;
    background: #497bc3;
}
.file-manager .files {
    /* /* padding: 10px;
    background-color: #bbb; */
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: auto max-content; */ 
}
.file-manager .files-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding-right: 5px;
}

.file-manager .file-item .file-item-panel {   
    transition: .3s;
}

.file-manager  .file-item.item-selected .file-item-panel {
    background: #081531 !important;
    color: white !important;    
}
.file-item .file-item-info span {
    margin-left: 12px;
    display: inline-block;
}
.file-item .file-item-info span:first-child {
    margin-left: 0;
}
.file-manager .file-item .item-body {
    /* cursor: pointer; */
}

.file-manager .folder-tree,
.file-manager .files {
    height: calc(100vh - 300px);
    max-height: 600px;
    overflow-y: auto;
    -webkit-overflow-y: auto;
}

.file-manager .path-breadcrumb {
    background-color: #fafafa;
    color: #333;
    border-radius: 0.1875rem;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.file-manager .path-breadcrumb .sep {
    margin: 0 5px;
}
.file-manager .path-breadcrumb .path-breadcrumb-folder {
    padding: 3px 10px;
    background-color: #e6e6e6;
    cursor: pointer;
    border-radius: 3px;
}
/* ------------------------------------------ */
.form-control-upload .items-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
}

.form-control-upload[data-multiple="true"] .file-item {
    cursor: move;
}
.form-control-upload .file-item .item-remove-button {
    cursor: pointer;
}


.file-manager .file-uploading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0, 0, 0.7);    
}
.file-manager .file-uploading-overlay-wrap {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-manager .file-uploading-overlay-dialog {
    width: 90%;
    max-width: 800px;
}
.file-manager .file-uploading-overlay-dialog .upload-log {
    height: 100px;
    overflow: auto;
}
.file-manager .items-loading-ui {
    visibility: hidden;
}
.file-manager .items-loading-ui.active {
    visibility: visible;
}

.upload-progress-enter-active,
.upload-progress-leave-active {
  transition: opacity 0.5s ease;
}

.upload-progress-enter-from,
.upload-progress-leave-to {
  opacity: 0;
}

.file-item .file-item-image {
    object-fit: scale-down;
    pointer-events: none
}
.file-item .file-item-panel,
.file-item .file-item-image-holder {
    background-color: #fff;
}
.file-item:hover .file-item-image-holder {
    /* background-color: #ededed; */
    background-color: #eee;
}
.file-item .file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-manager-modal .file-manager .folder-tree,
.file-manager-modal .file-manager .files {
    height: calc(90vh - 250px);
}